@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  position: fixed;
  height: 80%;
  margin-top: 20px;
  background-image: url("../../public/img/sea.jpg");
  background-size: cover;
  background-position-y: bottom;
  font-family: "Raleway", sans-serif;
  color: #fff;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#download {
  background: none;
  color: white;
  border: 2px solid white;
  padding: 19px 48px;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
}
#read {
  background-color: #5d47d7;
  border: 2px solid #5d47d7;
  color: #fff;
  padding: 19px 66px;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  margin-right: 5px;
}
h1 {
  width: 50%;
  font-size: 60px;
  text-align: center;
}
p {
  font-weight: 600;
  margin-top: 30px;
}
.buttons {
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
}
