@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container-section3 {
  height: 115vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 110px;
  background-color: #f5f5f5;
}
.img {
  width: 52vw;
}

img {
  width: 100%;
}
.content {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 20px;
}
.content p {
  width: 50vw;
  color: #8c979e;
  line-height: 25px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.content h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 34px;
}
#btn {
  cursor: pointer;
  width: 220px;
  background-color: RGB(93, 71, 215);
  border: 2px solid RGB(93, 71, 215);
  color: #fff;
  padding: 19px 2px;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  font-size: 12px;
  margin-right: 5px;
  transition: all 0.3s linear;
  margin-top: 30px;
  word-spacing: 4px;
  letter-spacing: 1px;
}
#btn:hover {
  background-color: rgb(70, 47, 201);
  border: 2px solid rgb(70, 47, 201);
}
