.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 300px;
  padding: 30px;
  color: #fff;
  background-color: none;
  border: 1px solid #fff;
  cursor: pointer;
}

.box p {
  font-weight: lighter;
  padding-top: 10px;
}
#icon {
  padding-bottom: 10px;
  color: #2198ed;
}
