@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: greenyellow;
}

section {
  background-color: yellow;
  width: 100%;
  background-image: url("../../public/img/wave.jpg");
  background-size: cover;
  background-position-y: bottom;
  font-family: "Raleway", sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#download {
  background: none;
  color: white;
  border: 2px solid white;
  padding: 19px 50px;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  transition: all 0.3s linear;
}

#download:hover {
  background-color: #fff;
  color: #111;
}
#read {
  background-color: RGB(93, 71, 215);
  border: 2px solid RGB(93, 71, 215);
  color: #fff;
  padding: 19px 68px;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  margin-right: 5px;
  transition: all 0.3s linear;
}
#read:hover {
  background-color: rgba(109, 88, 224, 0.7);
  border: 2px solid rgba(109, 88, 224, 0.2);
}
h1 {
  width: 50%;
  font-size: 60px;
  text-align: center;
}
p {
  font-weight: 600;
  margin-top: 30px;
}
.buttons {
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
}
