* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.navbar {
  background-color: #fff;

  overflow: hidden;
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
}
.navlinks {
  text-decoration: none;
  color: #666;
  padding: 0 15px;
  font-size: 13px;
}

.navlinks:hover {
  color: blue;
}

header {
  margin-left: 10px;
  font-size: 27px;
  font-family: "Courier New", Courier, monospace;
  padding-top: 14px;
  width: 20%;
}
header a {
  text-decoration: none;
  color: #666;
}
#search {
  text-decoration: none;
  color: #666;

  font-size: 12px;
  color: #3a52bf;
  font-size: 13px;
  padding-left: 50px;
  padding-top: 40px;
  font-weight: 600;
}
.navlinks i {
  font-size: 12px;
}
.links {
  padding-top: 19px;
  margin-left: 20%;
}
